/* show skip links if selected */
.wp-block-blockstrap-blockstrap-widget-skip-links.bs-skip-links.is-selected {
	transform: translate(-50%, 0%);
}

/* show responsive menu if selected */
@media ( max-width: 840px ) {
	.wp-block-blockstrap-blockstrap-widget-navbar {
		&.is-selected, &.has-child-selected {
			.wp-block-blockstrap-blockstrap-widget-nav {
				display: block;
			}
		}
	}
}

// prevent our non display:block blocks overflowing
.editor-styles-wrapper  .block-editor-block-list__layout.is-root-container:not(.edit-site-block-editor__block-list){
	max-width: 840px;
	margin: auto;
}


